/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#7fb51a;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #009933;
}

.nav-links .stf {
    padding: 0.5rem 1rem;
    background-color:#7fb51a;
    color: #fff;
    border-radius: 5px;
}